.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 60px 170px;
}
.skills-title{
    position: relative;
}
.skills-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.skill-title{
    text-align: left;
    width: 100%;
}
.skills-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #48cae4;
    transition: 0.4s;
    cursor: pointer;
    width: 300px;
}
.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 45px;
    margin-bottom: 40px;
}
.skills-format h2{
    font-size: 18px;
    font-weight: 400;

}.skills-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}